.gradient-right {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2049194677871149) 50%,
    rgba(247, 247, 247, 1) 100%
  );
}

.gradient-left {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(255, 255, 255, 0.2049194677871149) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
