@font-face {
  font-family: 'Airbnb';
  src: local('Airbnb-Bk'), url(./assets/Airbnb-Bk.otf) format('opentype');
}

@font-face {
  font-family: 'Airbnb';
  src: local('Airbnb-Md'), url(./assets/Airbnb-Md.otf) format('opentype');
  font-weight: 500; /* Medium weight is typically 500 */
}

@font-face {
  font-family: 'Airbnb';
  src: local('Airbnb-Bd'), url(./assets/Airbnb-Bd.otf) format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Airbnb';
  src: local('Airbnb-Lt'), url(./assets/Airbnb-Lt.otf) format('opentype');
  font-weight: 300; /* Lighter weight is typically 300 */
}

@font-face {
  font-family: 'Airbnb';
  src: local('Airbnb-Blk'), url(./assets/Airbnb-Blk.otf) format('opentype');
  font-weight: 900;
}

body {
  font-family: 'Airbnb', sans-serif; /* Use one of the custom fonts as the default */
}